.maintenances .table thead th {
    background-color: #ffffff00 !important;
    color: white;
}
.maintenances .table tbody{
    border-color: var(--bs-primary);
}

.maintenances .table tbody td {
    background-color: rgba(255, 255, 255, 0.98) !important;
    border-color: var(--bs-primary);
    padding: 0.3em;
}